<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<ul class="list-group">
  <li class="list-group-item">
    <%= link_to [:admin, :products], class: "nav-link " do %> <%= @product_count %> Products <% end %>
  </li>
  <li class="list-group-item">
    <%= link_to [:admin, :categories], class: "nav-link " do %> <%= @category_count %> Categories <% end %>
  </li>
</ul>