<header class="page-header">
  <h1>About Us</h1>
</header>
<p>We only sell healthy, beautiful, pest-free plants sourced from our amazing network of reputable growers based right here in British Columbia.

Our plants are potted in premium soil ideal for that plant, inspected for pests and treated with an all-natural insecticide, then cleaned and pruned before being delivered to your home.

Start shopping <a href="<%= root_path %>">now</a>!
