// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

signup-container, form.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.signup {
  margin-top: 50px;
  text-align: center;
}

input.signup {
  width: 300px;
  margin-bottom: 15px;
}

.flash {
  color: #f38792;
  margin-bottom: 15px;
}
